@charset "ISO-8859-1";

*, *:before, *:after, *:active {
	font-family: 'Vollkorn SC', serif;
	outline: none;
	text-align: center;
}

body {
	background-color: darkslategrey;
}

.centerMenu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255, 0.5);
	border: 5px solid white;
	border-radius: 30px;
	padding: 20px;
	width: 500px;
	text-align: center;
}

h1 {
	color: darkslategrey;
	font-size: 40px;
	margin: 10px;
}

h2 {
	color: darkslategrey;
	font-size: 25px;
	margin: 2px 0px 20px 0px;
}

p {
	font-size: 25px;
	color: darkslategrey;
}

.label {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	margin: 0px 0px 2px 14px;
}

.textfield {
	min-width: 400px;
	padding: 10px;
	margin: 0px 10px;
	background-color: white;
	border-radius: 10px;
	font-size: 25px;
	color: black;
	text-align: center;
}

.smalltextfield {
	min-width: 25%;
	max-width: 25%;
	min-height: 35px;
	max-height: 35px;
	padding: 0px;
	margin: 0px 10px;
	background-color: rgb(255, 255, 255, 0.5);
	border: 2px solid white;
	border-radius: 10px;
	font-size: 15px;
	color: darkslategrey;
	text-align: center;
}

.requirement {
	padding: 5px;
}

button, a {
	min-width: 400px;
	margin: 10px;
	padding: 10px;
	background-color: rgb(255, 255, 255, 0.5);
	border-radius: 10px;
	font-size: 25px;
	color: darkslategrey;
	text-decoration: none;
	text-align: center;
}

button:active, a:active {
	min-width: 400px;
	margin: 10px;
	padding: 10px;
	background-color: darkslategrey;
	border-radius: 10px;
	font-size: 25px;
	color: white;
	text-decoration: none;
	text-align: center;
}

.topNavigationBar {
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: transparent;
	border: none;
	border-radius: 10px;
	padding: 0px;
	margin: 5px;
	text-align: center;
	width: 90%;
}

.panelSelector, .panelSelector:active {
	min-width: 10%;
	max-width: 10%;
	min-height: 6%;
	font-size: 1vw;
	padding: 2px;
	margin: 2px;
	background-color: rgb(255, 255, 255, 0.75);
	color: darkslategrey;
}

div.ingamePanel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-150%, -50%);
	background-color: rgb(255, 255, 255, 0.5);
	border: 5px solid white;
	border-radius: 30px;
	padding: 20px;
	min-width: 30%;
	max-width: 30%;
	min-height: 82%;
	max-height: 82%;
	text-align: center;
	margin: 10px;
}

h1.panelTitle {
	margin: 10px;
	padding: 0px;
}

span.panelItem {
	min-height: 40px;
	max-height: 40px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

.portrait {
	position: relative;
	min-width: 60%;
	min-height: 60%;
	max-width: 60%;
	max-height: 60%;
	border: 2px solid white;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	flex-direction: column;
}

.flag {
	position: relative;
	min-width: 40%;
	min-height: 25%;
	max-width: 40%;
	max-height: 25%;
	border: 2px solid white;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
button.searchButton {
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
	background-color: darkslategrey;
	border: 2px solid white;
	border-radius: 10px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	transform: translate(0%, 20%);
}
img.searchIcon {
	min-width: 30px;
	max-width: 30px;
	min-height: 30px;
	max-height: 30px;
	top: 50%;
	left: 50%;
	transform: translate(0%, 0%);
}
